<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.sxis.model" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/ManagerMapper.xml" />
		<mapper resource="mapper/BookMapper.xml" />
		<mapper resource="mapper/BorrowMapper.xml" />
		<mapper resource="mapper/BorrowDetailMapper.xml" />
		<mapper resource="mapper/GiveBackMapper.xml" />
		<mapper resource="mapper/GeneralMapper.xml" />
		<mapper resource="mapper/ReaderMapper.xml" />
	</mappers>
</configuration> 